@font-face{ 
	font-family: 'Voltaire';
	src: url('../files/fonts/Voltaire.eot');
	src: url('../files/fonts/Voltaire.eot?#iefix') format('embedded-opentype'),
	     url('../files/fonts/Voltaire.woff') format('woff'),
	     url('../files/fonts/Voltaire.ttf') format('truetype'),
	     url('../files/fonts/Voltaire.svg#webfont') format('svg');
}

@font-face{ 
	font-family: 'Poiret One';
	src: url('../files/fonts/PoiretOne.eot');
	src: url('../files/fonts/PoiretOne.eot?#iefix') format('embedded-opentype'),
	     url('../files/fonts/PoiretOne.woff') format('woff'),
	     url('../files/fonts/PoiretOne.ttf') format('truetype'),
	     url('../files/fonts/PoiretOne.svg#webfont') format('svg');
}