@import "base";

#output {
	.gif-thumbs {
		img {
			width: 16.666%;
			float: left;
			border: 2px solid white;
			border-radius: 0.2em;
			@include border-box;

			&.selected {
				border: 2px solid $green;
				box-shadow: 1px 1px 3px rgba(114,157,52,0.3);
			}
		}
	}

	.gif {
		padding: 0.5em 0 0 0;
		text-align: center;
		clear: both;

		img {
			height: 250px;
			margin: 0 auto;
		}
	}
}