@import "base";

#output {
	
	/* DATA */
	.high-line, .low-line {
		stroke-width: 2;
		fill: none;
	}

	.temperature-band {
		fill-opacity: 0.3;
		stroke: none;
	}

	.freezing {
		stroke: #ccc;
		stroke-width: 1;
	}

	.marker {
		circle {
			fill: while;
			stroke: black;
			stroke-width: 0.5;
		}

		text {
			text-anchor: middle;
			font-family: 'Helvetica Neue', 'Arial';
			font-size: 0.6em;
			font-weight: bold;
			fill: #333;
		}
	}

	.month-labels {
		position: absolute;
		left: 0;
		bottom: 0;
		width: 100%;

		span {
			text-align: center;
			float: left;
			display: block;
			font-family: 'Helvetica Neue', 'Arial';
			font-size: 0.6em;
		}
	}



	/* NEURON */
	.graphic {
		position: relative;
		padding: 0 0 5em 0;
		width: 100%;
		height: 100%;
		@include border-box;

		.detail {
			position: absolute;
			left: 0;
			bottom: 0;
			width: 100%;
			height: 5em;
		}
	}

	svg {
		width: 100%;
		height: 100%;
	}

	.background {
		fill: #f9f9f9;
	}

	.tapcatcher {
		fill: rgba(255,255,255,0.01);
		pointer-event: fill;
	}

	#hotspots {
		g, ellipse, circle {
			cursor: pointer;
			fill: white;
			fill-opacity: 0.5;
			stroke: #1E2458;
			stroke-width: 2;
		}

		text.large {
			fill: #333;
			font-family: 'Voltaire';
			font-size: 2em;
			text-anchor: middle;
			pointer-events: none;

			&.white {
				fill: white;
			}
		}

		&.visible {
			opacity: 1;
			pointer-events: normal;
			-webkit-transition: opacity 0.3s ease-in-out;
		}

		&.hidden {
			opacity: 0;
			pointer-events: none;
			-webkit-transition: opacity 1s ease-in-out;
		}
	}

	#neuron {
		cursor: pointer;
	}

	.detail {
		-webkit-transition: opacity 1s ease-in-out;

		&.visible {
			opacity: 1;
			pointer-events: normal;
		}

		&.hidden {
			opacity: 0;
			pointer-events: none;
		}
	}

	.label {
		//opacity: 0;
		-webkit-transition: opacity 0.2s ease-in-out;
		pointer-events: none;

		.label-bg {
			fill: #f9f9f9;

		}

		text {
			font-family: 'Helvetica Neue', 'Arial';
			font-size: 1em;
			fill: #333;
			alignment-baseline: hanging;

			&.small {
				font-size: 0.7em;
			}
		}

		line, polyline, ellipse {
			stroke: #333;
			stroke-width: 2;
			fill: none;
		}

		&.permanent {
			opacity: 1;
		}
	}

	.foreign-label {
		display: inline;
		padding: 0.3em;
		background-color: #f9f9f9;
		border-radius: 0.2em;
	}
}