@media -sass-debug-info{filename{}line{font-family:\000031}}
.divvy-block {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  overflow: hidden; }

@media -sass-debug-info{filename{}line{font-family:\0000311}}
.divvy-leaf {
  padding: 2px; }

@media -sass-debug-info{filename{}line{font-family:\0000315}}
.divvy-leaf.divvy-top {
  padding-top: 0; }

@media -sass-debug-info{filename{}line{font-family:\0000319}}
.divvy-leaf.divvy-right {
  padding-right: 0; }

@media -sass-debug-info{filename{}line{font-family:\0000323}}
.divvy-leaf.divvy-bottom {
  padding-bottom: 0; }

@media -sass-debug-info{filename{}line{font-family:\0000327}}
.divvy-leaf.divvy-left {
  padding-left: 0; }

@media -sass-debug-info{filename{}line{font-family:\0000331}}
.divvy-inner {
  width: 100%;
  height: 100%;
  overflow: auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

@media -sass-debug-info{filename{}line{font-family:\0000340}}
.divvy-vertical-control, .divvy-horizontal-control {
  position: absolute;
  z-index: 2;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none; }

@media -sass-debug-info{filename{}line{font-family:\0000350}}
.divvy-vertical-control:after, .divvy-horizontal-control:after {
  position: absolute;
  content: ' ';
  display: block;
  width: 100%;
  height: 100%; }

@media -sass-debug-info{filename{}line{font-family:\0000358}}
.divvy-vertical-control {
  width: 0;
  height: 100%;
  cursor: ew-resize; }

@media -sass-debug-info{filename{}line{font-family:\0000364}}
.divvy-horizontal-control {
  width: 100%;
  height: 0;
  cursor: ns-resize; }

@media -sass-debug-info{filename{}line{font-family:\0000370}}
.divvy-vertical-control:after {
  border-left: 2px solid white;
  border-right: 2px solid white;
  left: -2px;
  top: 0; }

@media -sass-debug-info{filename{}line{font-family:\0000377}}
.divvy-horizontal-control:after {
  border-top: 2px solid white;
  border-bottom: 2px solid white;
  top: -2px;
  left: 0; }

@media -sass-debug-info{filename{}line{font-family:\00003136}}
#output .temperatures {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 4em 0 0 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
@media -sass-debug-info{filename{}line{font-family:\00003143}}
  #output .temperatures .header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 2em; }
@media -sass-debug-info{filename{}line{font-family:\00003151}}
  #output .temperatures .radio-group {
    display: inline-block;
    float: right;
    text-align: right;
    padding: 0.5em 0 0 0; }
@media -sass-debug-info{filename{}line{font-family:\00003158}}
  #output .temperatures h2 {
    float: left;
    margin: 0; }
@media -sass-debug-info{filename{}line{font-family:\00003163}}
  #output .temperatures select {
    position: relative;
    top: 0.1em;
    float: left;
    clear: left;
    font-size: inherit;
    font-family: inherit;
    z-index: 7; }
@media -sass-debug-info{filename{}line{font-family:\00003173}}
  #output .temperatures label {
    position: relative;
    z-index: 7; }
@media -sass-debug-info{filename{}line{font-family:\00003178}}
  #output .temperatures p {
    float: left;
    clear: left;
    margin: 0; }
@media -sass-debug-info{filename{}line{font-family:\00003185}}
#output .bar-chart {
  position: relative;
  padding: 0 0 3em 0;
  width: 100%;
  height: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
@media -sass-debug-info{filename{}line{font-family:\00003192}}
  #output .bar-chart .bar-group {
    position: relative;
    float: left;
    height: 100%;
    text-align: center; }
@media -sass-debug-info{filename{}line{font-family:\00003198}}
    #output .bar-chart .bar-group .month-label {
      position: absolute;
      bottom: -2em;
      left: 0;
      width: 100%; }
@media -sass-debug-info{filename{}line{font-family:\00003205}}
    #output .bar-chart .bar-group .bar-outer {
      position: absolute;
      width: 100%;
      padding: 0 1px;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box; }
@media -sass-debug-info{filename{}line{font-family:\00003211}}
      #output .bar-chart .bar-group .bar-outer.positive {
        bottom: 20%; }
@media -sass-debug-info{filename{}line{font-family:\00003214}}
        #output .bar-chart .bar-group .bar-outer.positive .bar-inner {
          bottom: 0;
          border-top: 1px solid #333;
          border-left: 1px solid #333;
          border-right: 1px solid #333;
          border-radius: 2px 2px 0 0; }
@media -sass-debug-info{filename{}line{font-family:\00003223}}
      #output .bar-chart .bar-group .bar-outer.negative {
        top: 80%; }
@media -sass-debug-info{filename{}line{font-family:\00003226}}
        #output .bar-chart .bar-group .bar-outer.negative .bar-inner {
          top: 0;
          border-bottom: 1px solid #333;
          border-left: 1px solid #333;
          border-right: 1px solid #333;
          border-radius: 0 0 2px 2px; }
@media -sass-debug-info{filename{}line{font-family:\00003235}}
      #output .bar-chart .bar-group .bar-outer.high.negative {
        z-index: 6; }
@media -sass-debug-info{filename{}line{font-family:\00003240}}
    #output .bar-chart .bar-group .bar-inner {
      position: relative;
      width: 100%;
      height: 100%;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box; }
@media -sass-debug-info{filename{}line{font-family:\00003247}}
    #output .bar-chart .bar-group .high.positive span {
      top: -0.6em;
      font-weight: bold; }
@media -sass-debug-info{filename{}line{font-family:\00003252}}
    #output .bar-chart .bar-group .low.positive span {
      top: 0.8em;
      color: white;
      text-shadow: 0 0 3px black, 0 0 3px black, 0 0 3px black; }
@media -sass-debug-info{filename{}line{font-family:\00003258}}
    #output .bar-chart .bar-group .high.negative span {
      bottom: 0.8em;
      color: white;
      text-shadow: 0 0 3px black, 0 0 3px black, 0 0 3px black; }
@media -sass-debug-info{filename{}line{font-family:\00003264}}
    #output .bar-chart .bar-group .low.negative span {
      bottom: -0.6em;
      font-weight: bold; }
@media -sass-debug-info{filename{}line{font-family:\00003271}}
    #output .bar-chart .bar-group span {
      position: absolute;
      width: 100%;
      left: 0;
      font-family: 'Helvetica Neue', Arial;
      font-size: 0.7em;
      line-height: 0;
      z-index: 6; }
@media -sass-debug-info{filename{}line{font-family:\00003282}}
  #output .bar-chart .axis {
    position: relative;
    width: 100%;
    height: 0;
    border-top: 1px solid #333;
    z-index: 5;
    left: 0;
    top: 80%; }

@media -sass-debug-info{filename{}line{font-family:\00003295}}
.divvy-inner.block {
  position: relative;
  padding: 2em 0 0 0;
  border: 1px solid #e9e9e9;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
@media -sass-debug-info{filename{}line{font-family:\00003301}}
  .divvy-inner.block .info {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 2em;
    padding: 0.5em;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none; }
@media -sass-debug-info{filename{}line{font-family:\00003312}}
    .divvy-inner.block .info strong {
      font-family: 'Voltaire';
      position: relative;
      top: 0.1em;
      line-height: 0; }
@media -sass-debug-info{filename{}line{font-family:\00003319}}
    .divvy-inner.block .info .buttons {
      float: right;
      text-align: right; }
@media -sass-debug-info{filename{}line{font-family:\00003324}}
    .divvy-inner.block .info .buttons-left {
      float: left;
      text-align: left; }
@media -sass-debug-info{filename{}line{font-family:\00003330}}
  .divvy-inner.block .content {
    position: relative;
    width: 100%;
    height: 100%;
    border-top: 1px solid #eee;
    overflow: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }

@media -sass-debug-info{filename{}line{font-family:\00003340}}
.divvy-inner.copy-block {
  border: 1px solid #aaa; }
@media -sass-debug-info{filename{}line{font-family:\00003343}}
  .divvy-inner.copy-block .info {
    background-color: #fafafa; }

@media -sass-debug-info{filename{}line{font-family:\00003348}}
.divvy-inner.copy-block, .divvy-inner.output-block {
  font-family: 'Baskerville', 'Garamond', 'Georgia';
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
@media -sass-debug-info{filename{}line{font-family:\00003352}}
  .divvy-inner.copy-block .content, .divvy-inner.output-block .content {
    padding: 0.5em; }

@media -sass-debug-info{filename{}line{font-family:\00003358}}
.divvy-inner.code-block .info, .divvy-inner.output-block .info {
  background-color: #f9fcf6; }
@media -sass-debug-info{filename{}line{font-family:\00003362}}
.divvy-inner.code-block .content, .divvy-inner.output-block .content {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #fdfdfd;
  border-top: 1px solid #eee;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

@media -sass-debug-info{filename{}line{font-family:\00003374}}
#output .color-mixer {
  height: 100%; }
@media -sass-debug-info{filename{}line{font-family:\00003377}}
  #output .color-mixer tr:last-child div {
    width: 100%; }
@media -sass-debug-info{filename{}line{font-family:\00003381}}
  #output .color-mixer th, #output .color-mixer td {
    height: 1em; }
@media -sass-debug-info{filename{}line{font-family:\00003384}}
    #output .color-mixer th:first-child, #output .color-mixer td:first-child {
      text-align: right; }
@media -sass-debug-info{filename{}line{font-family:\00003388}}
    #output .color-mixer th:last-child, #output .color-mixer td:last-child {
      width: 70%; }
@media -sass-debug-info{filename{}line{font-family:\00003393}}
  #output .color-mixer div {
    width: 0;
    max-width: 100%;
    height: 100%; }

@media -sass-debug-info{filename{}line{font-family:\00003403}}
#output .slideshow {
  position: relative;
  width: 100%;
  height: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 0 3em 0;
  background-color: #f4f4f4; }
@media -sass-debug-info{filename{}line{font-family:\00003411}}
  #output .slideshow .main {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0 2em;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
@media -sass-debug-info{filename{}line{font-family:\00003419}}
  #output .slideshow .prev, #output .slideshow .next {
    position: absolute;
    top: 0;
    width: 2em;
    height: 100%;
    text-align: center;
    cursor: pointer;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none; }
@media -sass-debug-info{filename{}line{font-family:\00003429}}
    #output .slideshow .prev:hover, #output .slideshow .next:hover {
      background-color: #eee; }
@media -sass-debug-info{filename{}line{font-family:\00003433}}
    #output .slideshow .prev span, #output .slideshow .next span {
      position: absolute;
      top: 50%;
      width: 100%;
      display: block;
      line-height: 0;
      text-align: center;
      font-size: 1.6em;
      font-family: Arial;
      color: #aaa; }
@media -sass-debug-info{filename{}line{font-family:\00003446}}
  #output .slideshow .prev {
    left: 0;
    border-right: 1px solid #ddd; }
@media -sass-debug-info{filename{}line{font-family:\00003451}}
  #output .slideshow .next {
    right: 0;
    border-left: 1px solid #ddd; }
@media -sass-debug-info{filename{}line{font-family:\00003456}}
  #output .slideshow .main-image {
    width: 100%;
    height: 100%;
    background: #f4f4f4 no-repeat 50% 50%;
    background-size: contain; }
@media -sass-debug-info{filename{}line{font-family:\00003463}}
  #output .slideshow .caption {
    position: absolute;
    width: 100%;
    height: 3em;
    left: 0;
    bottom: 0;
    text-align: center;
    background-color: white; }

@media -sass-debug-info{filename{}line{font-family:\00003477}}
#output .superheroes {
  border: 1px solid rgba(0, 0, 0, 0.3);
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
  border-radius: 2px; }
@media -sass-debug-info{filename{}line{font-family:\00003482}}
  #output .superheroes td, #output .superheroes th {
    padding: 0.5em;
    text-align: left; }
@media -sass-debug-info{filename{}line{font-family:\00003487}}
  #output .superheroes th {
    background-color: rgba(0, 0, 0, 0.7);
    color: rgba(255, 255, 255, 0.9);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none; }
@media -sass-debug-info{filename{}line{font-family:\00003493}}
  #output .superheroes td {
    background-color: rgba(255, 255, 255, 0.7);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1); }
@media -sass-debug-info{filename{}line{font-family:\00003498}}
  #output .superheroes td a {
    font-weight: bold; }
@media -sass-debug-info{filename{}line{font-family:\00003502}}
  #output .superheroes tr:last-child td {
    border-bottom: none; }
@media -sass-debug-info{filename{}line{font-family:\00003506}}
  #output .superheroes .sortable {
    position: relative;
    padding-left: 1.5em;
    cursor: pointer;
    width: 33.3%; }
@media -sass-debug-info{filename{}line{font-family:\00003513}}
  #output .superheroes .sortable:before {
    position: absolute;
    left: 0.5em;
    top: 50%;
    line-height: 0;
    content: '\25bd';
    font-size: 0.7em;
    color: rgba(255, 255, 255, 0.3); }
@media -sass-debug-info{filename{}line{font-family:\00003523}}
  #output .superheroes .sorted:before {
    content: '\25bc';
    color: rgba(255, 255, 255, 0.9); }

@media -sass-debug-info{filename{}line{font-family:\00003532}}
#output img {
  display: block; }
@media -sass-debug-info{filename{}line{font-family:\00003536}}
#output table {
  border-spacing: 0;
  width: 100%; }
@media -sass-debug-info{filename{}line{font-family:\00003541}}
#output th, #output td {
  border-bottom: 1px solid #eee;
  padding: 0.5em 1em;
  text-align: left; }
@media -sass-debug-info{filename{}line{font-family:\00003547}}
#output input {
  font-family: inherit;
  font-size: inherit;
  padding: 0.2em; }
@media -sass-debug-info{filename{}line{font-family:\00003553}}
#output label {
  display: block; }

@media -sass-debug-info{filename{}line{font-family:\00003560}}
#output .newTodo {
  width: 100%;
  max-width: 20em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
@media -sass-debug-info{filename{}line{font-family:\00003566}}
#output .todos {
  padding: 0;
  border-top: 1px solid #eee;
  max-width: 20em; }
@media -sass-debug-info{filename{}line{font-family:\00003571}}
  #output .todos li {
    position: relative;
    padding: 0.5em 3em 0.5em 2em;
    list-style: none;
    border-bottom: 1px solid #eee; }
@media -sass-debug-info{filename{}line{font-family:\00003577}}
    #output .todos li input {
      position: absolute;
      margin: 0;
      left: 0.5em;
      top: 0.6em; }
@media -sass-debug-info{filename{}line{font-family:\00003584}}
    #output .todos li span {
      position: relative;
      display: block;
      cursor: pointer; }
@media -sass-debug-info{filename{}line{font-family:\00003591}}
    #output .todos li.done span {
      opacity: 0.5;
      text-decoration: line-through; }
@media -sass-debug-info{filename{}line{font-family:\00003597}}
    #output .todos li .button {
      position: absolute;
      right: 0.5em;
      width: 1em;
      text-align: center;
      top: 0.4em;
      background-color: #d00;
      border: none;
      opacity: 0.3; }
@media -sass-debug-info{filename{}line{font-family:\00003608}}
    #output .todos li .edit {
      position: absolute;
      width: 100%;
      height: 100%;
      top: -0.3em;
      left: -0.3em;
      padding: 0.2em; }
@media -sass-debug-info{filename{}line{font-family:\00003617}}
    #output .todos li:hover {
      background-color: #f9f9f9; }
@media -sass-debug-info{filename{}line{font-family:\00003620}}
      #output .todos li:hover .button {
        opacity: 1; }

@media -sass-debug-info{filename{}line{font-family:\00003631}}
#output .gif-thumbs img {
  width: 16.666%;
  float: left;
  border: 2px solid white;
  border-radius: 0.2em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
@media -sass-debug-info{filename{}line{font-family:\00003638}}
  #output .gif-thumbs img.selected {
    border: 2px solid #729d34;
    box-shadow: 1px 1px 3px rgba(114, 157, 52, 0.3); }
@media -sass-debug-info{filename{}line{font-family:\00003645}}
#output .gif {
  padding: 0.5em 0 0 0;
  text-align: center;
  clear: both; }
@media -sass-debug-info{filename{}line{font-family:\00003650}}
  #output .gif img {
    height: 250px;
    margin: 0 auto; }

@media -sass-debug-info{filename{}line{font-family:\00003658}}
#output {
  /* DATA */
  /* NEURON */ }
@media -sass-debug-info{filename{}line{font-family:\00003661}}
  #output .high-line, #output .low-line {
    stroke-width: 2;
    fill: none; }
@media -sass-debug-info{filename{}line{font-family:\00003666}}
  #output .temperature-band {
    fill-opacity: 0.3;
    stroke: none; }
@media -sass-debug-info{filename{}line{font-family:\00003671}}
  #output .freezing {
    stroke: #ccc;
    stroke-width: 1; }
@media -sass-debug-info{filename{}line{font-family:\00003677}}
  #output .marker circle {
    fill: while;
    stroke: black;
    stroke-width: 0.5; }
@media -sass-debug-info{filename{}line{font-family:\00003683}}
  #output .marker text {
    text-anchor: middle;
    font-family: 'Helvetica Neue', 'Arial';
    font-size: 0.6em;
    font-weight: bold;
    fill: #333; }
@media -sass-debug-info{filename{}line{font-family:\00003692}}
  #output .month-labels {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%; }
@media -sass-debug-info{filename{}line{font-family:\00003698}}
    #output .month-labels span {
      text-align: center;
      float: left;
      display: block;
      font-family: 'Helvetica Neue', 'Arial';
      font-size: 0.6em; }
@media -sass-debug-info{filename{}line{font-family:\00003710}}
  #output .graphic {
    position: relative;
    padding: 0 0 5em 0;
    width: 100%;
    height: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
@media -sass-debug-info{filename{}line{font-family:\00003717}}
    #output .graphic .detail {
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 5em; }
@media -sass-debug-info{filename{}line{font-family:\00003726}}
  #output svg {
    width: 100%;
    height: 100%; }
@media -sass-debug-info{filename{}line{font-family:\00003731}}
  #output .background {
    fill: #f9f9f9; }
@media -sass-debug-info{filename{}line{font-family:\00003735}}
  #output .tapcatcher {
    fill: rgba(255, 255, 255, 0.01);
    pointer-event: fill; }
@media -sass-debug-info{filename{}line{font-family:\00003741}}
  #output #hotspots g, #output #hotspots ellipse, #output #hotspots circle {
    cursor: pointer;
    fill: white;
    fill-opacity: 0.5;
    stroke: #1E2458;
    stroke-width: 2; }
@media -sass-debug-info{filename{}line{font-family:\00003749}}
  #output #hotspots text.large {
    fill: #333;
    font-family: 'Voltaire';
    font-size: 2em;
    text-anchor: middle;
    pointer-events: none; }
@media -sass-debug-info{filename{}line{font-family:\00003756}}
    #output #hotspots text.large.white {
      fill: white; }
@media -sass-debug-info{filename{}line{font-family:\00003761}}
  #output #hotspots.visible {
    opacity: 1;
    pointer-events: normal;
    -webkit-transition: opacity 0.3s ease-in-out; }
@media -sass-debug-info{filename{}line{font-family:\00003767}}
  #output #hotspots.hidden {
    opacity: 0;
    pointer-events: none;
    -webkit-transition: opacity 1s ease-in-out; }
@media -sass-debug-info{filename{}line{font-family:\00003774}}
  #output #neuron {
    cursor: pointer; }
@media -sass-debug-info{filename{}line{font-family:\00003778}}
  #output .detail {
    -webkit-transition: opacity 1s ease-in-out; }
@media -sass-debug-info{filename{}line{font-family:\00003781}}
    #output .detail.visible {
      opacity: 1;
      pointer-events: normal; }
@media -sass-debug-info{filename{}line{font-family:\00003786}}
    #output .detail.hidden {
      opacity: 0;
      pointer-events: none; }
@media -sass-debug-info{filename{}line{font-family:\00003792}}
  #output .label {
    -webkit-transition: opacity 0.2s ease-in-out;
    pointer-events: none; }
@media -sass-debug-info{filename{}line{font-family:\00003797}}
    #output .label .label-bg {
      fill: #f9f9f9; }
@media -sass-debug-info{filename{}line{font-family:\00003802}}
    #output .label text {
      font-family: 'Helvetica Neue', 'Arial';
      font-size: 1em;
      fill: #333;
      alignment-baseline: hanging; }
@media -sass-debug-info{filename{}line{font-family:\00003808}}
      #output .label text.small {
        font-size: 0.7em; }
@media -sass-debug-info{filename{}line{font-family:\00003813}}
    #output .label line, #output .label polyline, #output .label ellipse {
      stroke: #333;
      stroke-width: 2;
      fill: none; }
@media -sass-debug-info{filename{}line{font-family:\00003819}}
    #output .label.permanent {
      opacity: 1; }
@media -sass-debug-info{filename{}line{font-family:\00003824}}
  #output .label-bg {
    fill: green; }

@media -sass-debug-info{filename{}line{font-family:\00003830}}
.button {
  background-color: #999;
  border: 1px solid #888;
  cursor: pointer;
  color: white;
  padding: 0.1em 0.3em;
  border-radius: 0.2em;
  font-family: 'Voltaire', 'Helvetica Neue', 'Arial';
  font-size: 0.9em;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none; }
@media -sass-debug-info{filename{}line{font-family:\00003841}}
  .button:hover {
    background-color: #666;
    border: 1px solid #555;
    text-decoration: none; }
@media -sass-debug-info{filename{}line{font-family:\00003847}}
  .button.disabled {
    background-color: #ddd;
    border: 1px solid #ccc;
    cursor: default; }
@media -sass-debug-info{filename{}line{font-family:\00003852}}
    .button.disabled:hover {
      background-color: #ddd;
      border: 1px solid #ccc; }

@media -sass-debug-info{filename{}line{font-family:\00003859}}
.button-container-left, .button-container-right {
  width: 50%;
  margin: 1em 0 0 0;
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

@media -sass-debug-info{filename{}line{font-family:\00003866}}
.button-container-left {
  padding: 0 0.2em 0 0; }

@media -sass-debug-info{filename{}line{font-family:\00003870}}
.button-container-right {
  padding: 0 0 0 0.2em; }

@media -sass-debug-info{filename{}line{font-family:\00003874}}
.block-button {
  display: block;
  text-align: center;
  float: left;
  width: 100%;
  font-size: 1em;
  padding: 0.4em 0.8em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

@media -sass-debug-info{filename{}line{font-family:\00003894}}
code, pre {
  font-family: monospace;
  font-size: 0.8em;
  border: 1px solid #f2f5ef;
  border-radius: 0.2em;
  background-color: #f9fcf6;
  color: #444; }

@media -sass-debug-info{filename{}line{font-family:\00003904}}
pre {
  white-space: pre;
  display: block;
  padding: 0.5em;
  overflow-x: auto;
  margin: 0 0 1em 0;
  line-height: 1.5; }

@media -sass-debug-info{filename{}line{font-family:\00003913}}
code {
  font-weight: normal;
  padding: 0.15em 0.3em;
  position: relative; }

@media -sass-debug-info{filename{}line{font-family:\00003920}}
.prettyprinted {
  color: #aaa; }

@media -sass-debug-info{filename{}line{font-family:\00003925}}
.prettyprint .pln {
  color: #444444; }
@media -sass-debug-info{filename{}line{font-family:\00003926}}
.prettyprint .pun {
  color: #888; }
@media -sass-debug-info{filename{}line{font-family:\00003927}}
.prettyprint .str {
  color: #729d34; }
@media -sass-debug-info{filename{}line{font-family:\00003928}}
.prettyprint .kwd {
  color: #000064; }
@media -sass-debug-info{filename{}line{font-family:\00003929}}
.prettyprint .typ {
  color: #000064; }
@media -sass-debug-info{filename{}line{font-family:\00003930}}
.prettyprint .tag {
  color: #329632; }

@media -sass-debug-info{filename{}line{font-family:\00003933}}
.cm-s-ractive {
  font-size: 0.8em;
  line-height: 1.5 !important; }
@media -sass-debug-info{filename{}line{font-family:\00003936}}
  .cm-s-ractive div.CodeMirror-selected {
    background: #b36539 !important; }
@media -sass-debug-info{filename{}line{font-family:\00003937}}
  .cm-s-ractive .CodeMirror-gutters {
    background: #fcfcfc;
    border-right: 1px solid #eee; }
@media -sass-debug-info{filename{}line{font-family:\00003938}}
  .cm-s-ractive .CodeMirror-linenumber {
    color: #d0d0d0; }
@media -sass-debug-info{filename{}line{font-family:\00003939}}
  .cm-s-ractive .CodeMirror-cursor {
    border-left: 1px solid black !important; }
@media -sass-debug-info{filename{}line{font-family:\00003940}}
  .cm-s-ractive .CodeMirror-lines {
    padding: 10px 0; }
@media -sass-debug-info{filename{}line{font-family:\00003942}}
  .cm-s-ractive span.cm-comment {
    color: #888888; }
@media -sass-debug-info{filename{}line{font-family:\00003943}}
  .cm-s-ractive span.cm-atom {
    color: #845dc4; }
@media -sass-debug-info{filename{}line{font-family:\00003944}}
  .cm-s-ractive span.cm-number, .cm-s-ractive span.cm-attribute {
    color: #ff80e1; }
@media -sass-debug-info{filename{}line{font-family:\00003945}}
  .cm-s-ractive span.cm-keyword {
    color: #000064; }
@media -sass-debug-info{filename{}line{font-family:\00003946}}
  .cm-s-ractive span.cm-string {
    color: #729d34; }
@media -sass-debug-info{filename{}line{font-family:\00003947}}
  .cm-s-ractive span.cm-meta {
    color: #ff9d00; }
@media -sass-debug-info{filename{}line{font-family:\00003948}}
  .cm-s-ractive span.cm-variable, .cm-s-ractive span.cm-variable-2 {
    color: #444444; }
@media -sass-debug-info{filename{}line{font-family:\00003949}}
  .cm-s-ractive span.cm-variable-3, .cm-s-ractive span.cm-def {
    color: #444444; }
@media -sass-debug-info{filename{}line{font-family:\00003950}}
  .cm-s-ractive span.cm-tag {
    color: #329632; }
@media -sass-debug-info{filename{}line{font-family:\00003951}}
  .cm-s-ractive span.cm-error {
    color: #9d1e15; }
@media -sass-debug-info{filename{}line{font-family:\00003952}}
  .cm-s-ractive span.cm-bracket {
    color: #d8d8d8; }
@media -sass-debug-info{filename{}line{font-family:\00003953}}
  .cm-s-ractive span.cm-builtin, .cm-s-ractive span.cm-special {
    color: #ff9e59; }
@media -sass-debug-info{filename{}line{font-family:\00003954}}
  .cm-s-ractive span.cm-link {
    color: #845dc4; }
@media -sass-debug-info{filename{}line{font-family:\00003956}}
  .cm-s-ractive.CodeMirror-focused {
    background: #f9f9f9; }
@media -sass-debug-info{filename{}line{font-family:\00003958}}
    .cm-s-ractive.CodeMirror-focused .CodeMirror-gutters {
      background: #f6f6f6;
      border-right: 1px solid #eee; }

/* BASICS */
@media -sass-debug-info{filename{}line{font-family:\00003963}}
.CodeMirror {
  /* Set height, width, borders, and global font properties here */
  font-family: monospace;
  height: 100%; }

@media -sass-debug-info{filename{}line{font-family:\00003968}}
.CodeMirror-scroll {
  /* Set scrolling behaviour here */
  overflow: auto; }

/* PADDING */
@media -sass-debug-info{filename{}line{font-family:\00003975}}
.CodeMirror-lines {
  padding: 4px 0;
  /* Vertical padding around content */ }

@media -sass-debug-info{filename{}line{font-family:\00003978}}
.CodeMirror pre {
  padding: 0 4px;
  /* Horizontal padding of content */ }

@media -sass-debug-info{filename{}line{font-family:\00003982}}
.CodeMirror-scrollbar-filler {
  background-color: white;
  /* The little square between H and V scrollbars */ }

/* GUTTER */
@media -sass-debug-info{filename{}line{font-family:\00003988}}
.CodeMirror-gutters {
  border-right: 1px solid #ddd;
  background-color: #f7f7f7; }

@media -sass-debug-info{filename{}line{font-family:\00003993}}
.CodeMirror-linenumber {
  padding: 0 3px 0 5px;
  min-width: 20px;
  text-align: right;
  color: #999; }

/* CURSOR */
@media -sass-debug-info{filename{}line{font-family:\000031002}}
.CodeMirror div.CodeMirror-cursor {
  border-left: 1px solid black;
  z-index: 3; }

/* Shown when moving in bi-directional text */
@media -sass-debug-info{filename{}line{font-family:\000031007}}
.CodeMirror div.CodeMirror-secondarycursor {
  border-left: 1px solid silver; }

@media -sass-debug-info{filename{}line{font-family:\000031010}}
.CodeMirror.cm-keymap-fat-cursor div.CodeMirror-cursor {
  width: auto;
  border: 0;
  background: #7e7;
  z-index: 1; }

/* Can style cursor different in overwrite (non-insert) mode */
@media -sass-debug-info{filename{}line{font-family:\000031019}}
.cm-tab {
  display: inline-block; }

/* DEFAULT THEME */
@media -sass-debug-info{filename{}line{font-family:\000031023}}
.cm-s-default .cm-keyword {
  color: #708; }

@media -sass-debug-info{filename{}line{font-family:\000031024}}
.cm-s-default .cm-atom {
  color: #219; }

@media -sass-debug-info{filename{}line{font-family:\000031025}}
.cm-s-default .cm-number {
  color: #164; }

@media -sass-debug-info{filename{}line{font-family:\000031026}}
.cm-s-default .cm-def {
  color: #00f; }

@media -sass-debug-info{filename{}line{font-family:\000031027}}
.cm-s-default .cm-variable {
  color: black; }

@media -sass-debug-info{filename{}line{font-family:\000031028}}
.cm-s-default .cm-variable-2 {
  color: #05a; }

@media -sass-debug-info{filename{}line{font-family:\000031029}}
.cm-s-default .cm-variable-3 {
  color: #085; }

@media -sass-debug-info{filename{}line{font-family:\000031030}}
.cm-s-default .cm-property {
  color: black; }

@media -sass-debug-info{filename{}line{font-family:\000031031}}
.cm-s-default .cm-operator {
  color: black; }

@media -sass-debug-info{filename{}line{font-family:\000031032}}
.cm-s-default .cm-comment {
  color: #a50; }

@media -sass-debug-info{filename{}line{font-family:\000031033}}
.cm-s-default .cm-string {
  color: #a11; }

@media -sass-debug-info{filename{}line{font-family:\000031034}}
.cm-s-default .cm-string-2 {
  color: #f50; }

@media -sass-debug-info{filename{}line{font-family:\000031035}}
.cm-s-default .cm-meta {
  color: #555; }

@media -sass-debug-info{filename{}line{font-family:\000031036}}
.cm-s-default .cm-error {
  color: #f00; }

@media -sass-debug-info{filename{}line{font-family:\000031037}}
.cm-s-default .cm-qualifier {
  color: #555; }

@media -sass-debug-info{filename{}line{font-family:\000031038}}
.cm-s-default .cm-builtin {
  color: #30a; }

@media -sass-debug-info{filename{}line{font-family:\000031039}}
.cm-s-default .cm-bracket {
  color: #997; }

@media -sass-debug-info{filename{}line{font-family:\000031040}}
.cm-s-default .cm-tag {
  color: #170; }

@media -sass-debug-info{filename{}line{font-family:\000031041}}
.cm-s-default .cm-attribute {
  color: #00c; }

@media -sass-debug-info{filename{}line{font-family:\000031042}}
.cm-s-default .cm-header {
  color: blue; }

@media -sass-debug-info{filename{}line{font-family:\000031043}}
.cm-s-default .cm-quote {
  color: #090; }

@media -sass-debug-info{filename{}line{font-family:\000031044}}
.cm-s-default .cm-hr {
  color: #999; }

@media -sass-debug-info{filename{}line{font-family:\000031045}}
.cm-s-default .cm-link {
  color: #00c; }

@media -sass-debug-info{filename{}line{font-family:\000031047}}
.cm-negative {
  color: #d44; }

@media -sass-debug-info{filename{}line{font-family:\000031048}}
.cm-positive {
  color: #292; }

@media -sass-debug-info{filename{}line{font-family:\000031049}}
.cm-header, .cm-strong {
  font-weight: bold; }

@media -sass-debug-info{filename{}line{font-family:\000031050}}
.cm-em {
  font-style: italic; }

@media -sass-debug-info{filename{}line{font-family:\000031051}}
.cm-link {
  text-decoration: underline; }

@media -sass-debug-info{filename{}line{font-family:\000031053}}
.cm-invalidchar {
  color: #f00; }

@media -sass-debug-info{filename{}line{font-family:\000031055}}
div.CodeMirror span.CodeMirror-matchingbracket {
  color: #0f0; }

@media -sass-debug-info{filename{}line{font-family:\000031056}}
div.CodeMirror span.CodeMirror-nonmatchingbracket {
  color: #f22; }

/* STOP */
/* The rest of this file contains styles related to the mechanics of
   the editor. You probably shouldn't touch them. */
@media -sass-debug-info{filename{}line{font-family:\000031063}}
.CodeMirror {
  line-height: 1;
  position: relative;
  overflow: hidden;
  color: black; }

@media -sass-debug-info{filename{}line{font-family:\000031071}}
.CodeMirror-scroll {
  /* 30px is the magic margin used to hide the element's real scrollbars */
  /* See overflow: hidden in .CodeMirror */
  margin-bottom: -30px;
  margin-right: -30px;
  padding-bottom: 30px;
  padding-right: 30px;
  height: 100%;
  outline: none;
  /* Prevent dragging from highlighting the element */
  position: relative; }

@media -sass-debug-info{filename{}line{font-family:\000031080}}
.CodeMirror-sizer {
  position: relative; }

/* The fake, visible scrollbars. Used to force redraw during scrolling
   before actuall scrolling happens, thus preventing shaking and
   flickering artifacts. */
@media -sass-debug-info{filename{}line{font-family:\000031087}}
.CodeMirror-vscrollbar, .CodeMirror-hscrollbar, .CodeMirror-scrollbar-filler {
  position: absolute;
  z-index: 6;
  display: none; }

@media -sass-debug-info{filename{}line{font-family:\000031092}}
.CodeMirror-vscrollbar {
  right: 0;
  top: 0;
  overflow-x: hidden;
  overflow-y: scroll; }

@media -sass-debug-info{filename{}line{font-family:\000031097}}
.CodeMirror-hscrollbar {
  bottom: 0;
  left: 0;
  overflow-y: hidden;
  overflow-x: scroll; }

@media -sass-debug-info{filename{}line{font-family:\000031102}}
.CodeMirror-scrollbar-filler {
  right: 0;
  bottom: 0;
  z-index: 6; }

@media -sass-debug-info{filename{}line{font-family:\000031107}}
.CodeMirror-gutters {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  padding-bottom: 30px;
  z-index: 3; }

@media -sass-debug-info{filename{}line{font-family:\000031113}}
.CodeMirror-gutter {
  height: 100%;
  padding-bottom: 30px;
  margin-bottom: -32px;
  display: inline-block;
  /* Hack to make IE7 behave */
  *zoom: 1;
  *display: inline; }

@media -sass-debug-info{filename{}line{font-family:\000031122}}
.CodeMirror-gutter-elt {
  position: absolute;
  cursor: default;
  z-index: 4; }

@media -sass-debug-info{filename{}line{font-family:\000031128}}
.CodeMirror-lines {
  cursor: text; }

@media -sass-debug-info{filename{}line{font-family:\000031131}}
.CodeMirror pre {
  /* Reset some styles that the rest of the page might have set */
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  border-width: 0;
  background: transparent;
  font-family: inherit;
  font-size: inherit;
  margin: 0;
  white-space: pre;
  word-wrap: normal;
  line-height: inherit;
  color: inherit;
  z-index: 2;
  position: relative;
  overflow: visible; }

@media -sass-debug-info{filename{}line{font-family:\000031147}}
.CodeMirror-wrap pre {
  word-wrap: break-word;
  white-space: pre-wrap;
  word-break: normal; }

@media -sass-debug-info{filename{}line{font-family:\000031152}}
.CodeMirror-linebackground {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 0; }

@media -sass-debug-info{filename{}line{font-family:\000031158}}
.CodeMirror-linewidget {
  position: relative;
  z-index: 2;
  overflow: auto; }

@media -sass-debug-info{filename{}line{font-family:\000031164}}
.CodeMirror-widget {
  display: inline-block; }

@media -sass-debug-info{filename{}line{font-family:\000031168}}
.CodeMirror-wrap .CodeMirror-scroll {
  overflow-x: hidden; }

@media -sass-debug-info{filename{}line{font-family:\000031172}}
.CodeMirror-measure {
  position: absolute;
  width: 100%;
  height: 0px;
  overflow: hidden;
  visibility: hidden; }

@media -sass-debug-info{filename{}line{font-family:\000031178}}
.CodeMirror-measure pre {
  position: static; }

@media -sass-debug-info{filename{}line{font-family:\000031180}}
.CodeMirror div.CodeMirror-cursor {
  position: absolute;
  visibility: hidden;
  border-right: none;
  width: 0; }

@media -sass-debug-info{filename{}line{font-family:\000031186}}
.CodeMirror-focused div.CodeMirror-cursor {
  visibility: visible; }

@media -sass-debug-info{filename{}line{font-family:\000031190}}
.CodeMirror-selected {
  background: #d9d9d9; }

@media -sass-debug-info{filename{}line{font-family:\000031191}}
.CodeMirror-focused .CodeMirror-selected {
  background: #d7d4f0; }

@media -sass-debug-info{filename{}line{font-family:\000031193}}
.cm-searching {
  background: #ffa;
  background: rgba(255, 255, 0, 0.4); }

/* IE7 hack to prevent it from returning funny offsetTops on the spans */
@media -sass-debug-info{filename{}line{font-family:\000031199}}
.CodeMirror span {
  *vertical-align: text-bottom; }

@media print {
  /* Hide the cursor when printing */
@media -sass-debug-info{filename{}line{font-family:\000031203}}
  .CodeMirror div.CodeMirror-cursor {
    visibility: hidden; } }
@media -sass-debug-info{filename{}line{font-family:\000031210}}
#container {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 4em 0.5em 0.5em 0.5em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

@media -sass-debug-info{filename{}line{font-family:\000031219}}
#content {
  position: relative;
  width: 100%;
  height: 100%; }

@media -sass-debug-info{filename{}line{font-family:\000031226}}
.window {
  position: absolute;
  width: 100%;
  left: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

@font-face {
  font-family: 'Voltaire';
  src: url("../files/fonts/Voltaire.eot");
  src: url("../files/fonts/Voltaire.eot?#iefix") format("embedded-opentype"), url("../files/fonts/Voltaire.woff") format("woff"), url("../files/fonts/Voltaire.ttf") format("truetype"), url("../files/fonts/Voltaire.svg#webfont") format("svg"); }

@font-face {
  font-family: 'Poiret One';
  src: url("../files/fonts/PoiretOne.eot");
  src: url("../files/fonts/PoiretOne.eot?#iefix") format("embedded-opentype"), url("../files/fonts/PoiretOne.woff") format("woff"), url("../files/fonts/PoiretOne.ttf") format("truetype"), url("../files/fonts/PoiretOne.svg#webfont") format("svg"); }

@media -sass-debug-info{filename{}line{font-family:\000031251}}
#header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 3em;
  padding: 0.5em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
@media -sass-debug-info{filename{}line{font-family:\000031260}}
  #header h1, #header h2 {
    margin: 0;
    float: left; }
@media -sass-debug-info{filename{}line{font-family:\000031265}}
  #header h2 {
    margin-top: 0.35em; }

@media -sass-debug-info{filename{}line{font-family:\000031270}}
.tutorial-buttons {
  float: left;
  margin: 0.7em 1em 0 3em; }
@media -sass-debug-info{filename{}line{font-family:\000031274}}
  .tutorial-buttons strong {
    font-family: 'Voltaire';
    position: relative;
    top: 0.1em; }

@media -sass-debug-info{filename{}line{font-family:\000031282}}
html, body {
  margin: 0;
  width: 100%;
  height: 100%;
  position: relative; }

@media -sass-debug-info{filename{}line{font-family:\000031289}}
body {
  font-family: 'Baskerville', 'Garamond', 'Georgia';
  font-size: 16px;
  color: #333;
  min-width: 48em; }

@media -sass-debug-info{filename{}line{font-family:\000031296}}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Voltaire';
  margin: 1.5em 0 0.5em 0;
  line-height: 1.2; }
@media -sass-debug-info{filename{}line{font-family:\000031301}}
  h1:first-child, h2:first-child, h3:first-child, h4:first-child, h5:first-child, h6:first-child {
    margin-top: 0.5em; }

@media -sass-debug-info{filename{}line{font-family:\000031306}}
p {
  margin: 0.5em 0;
  line-height: 1.5; }

@media -sass-debug-info{filename{}line{font-family:\000031311}}
a {
  color: #729d34;
  text-decoration: none; }
@media -sass-debug-info{filename{}line{font-family:\000031315}}
  a:hover {
    text-decoration: underline; }
@media -sass-debug-info{filename{}line{font-family:\000031319}}
  a:visited {
    color: #729d34; }

@media -sass-debug-info{filename{}line{font-family:\000031324}}
.hint {
  background-color: #f4f4f4;
  border-radius: 0.2em;
  padding: 0.5em;
  font-size: 1em;
  margin: 1em 0;
  color: #666; }

@media -sass-debug-info{filename{}line{font-family:\000031333}}
kbd {
  font-size: 0.8em;
  font-family: 'Helvetica Neue', 'Arial';
  color: #777;
  border-top: 1px solid #eee;
  border-left: 1px solid #eee;
  border-right: 2px solid #eee;
  border-bottom: 2px solid #eee;
  background-color: #fafafa;
  padding: 0.2em 0.4em;
  border-radius: 0.2em; }

@media -sass-debug-info{filename{}line{font-family:\000031346}}
.logo, strong {
  font-family: 'Voltaire'; }

@media -sass-debug-info{filename{}line{font-family:\000031351}}
.separator {
  position: absolute;
  z-index: 2; }
@media -sass-debug-info{filename{}line{font-family:\000031355}}
  .separator:before {
    position: absolute;
    content: ' ';
    display: block;
    width: 100%;
    height: 100%;
    border: 2px solid #aaa;
    border-radius: 2px;
    left: -2px;
    top: -2px; }

@media -sass-debug-info{filename{}line{font-family:\000031368}}
.horizontal.separator {
  width: 100%;
  height: 0;
  cursor: ns-resize; }

@media -sass-debug-info{filename{}line{font-family:\000031374}}
.vertical.separator {
  width: 0;
  height: 100%;
  cursor: ew-resize; }
